<google-map
  class="google-map"
  *ngIf="apiLoaded"
  [height]="'90vh'"
  [width]="'100vw'"
  [options]="customMapOptions"
>
</google-map>

<app-search-box
  (resultSelected)="onSearchResult($event)"
  (filtersChanged)="onFiltersChanged($event)">
</app-search-box>
<!-- ඞ amogus ඞ -->
<div class="detail-panel" *ngIf="selectedFeature && !detailSelected">
  <div class="drag-handle"></div>
  <h3>{{ selectedFeature.properties["name"] }}</h3>
  <p>{{ selectedFeature.properties["description"] }}</p>
  <div class="info-row">
    <p>Khoảng cách: {{ totalDistance }} || {{ totalTime }}</p>
  </div>
  <p>
    Giá: {{ selectedFeature.properties["pricePerHour"] | number : "1.0-0" }}đ /
    lượt
  </p>
  <div class="button-group">
    <button (click)="startNavigation()">Chỉ đường</button>
    <button (click)="showDetails()">Chi tiết</button>
  </div>
  <button (click)="closeDetailPanel()">Đóng</button>
</div>

<div class="top-bar-overlay" *ngIf="selectedFeature && detailSelected">
  <div class="top-bar-left-group">
    <i class="bi bi-arrow-left fs-5 back-icon" (click)="closeDetail()"></i>
    <div class="top-bar-left">
      <div class="top-location">{{ parkingLot?.name }}</div>
      <div class="top-date">{{ currentDate }}</div>
    </div>
  </div>
</div>
<div class="parking-detail-panel-fixed" *ngIf="selectedFeature && detailSelected">
  <!--  &lt;!&ndash; Ảnh &ndash;&gt;-->
  <!--  <div class="parking-image">-->
  <!--    <img src="/assets/images/parkingLot.jpg" alt="Parking image" />-->
  <!--  </div>-->

  <!-- Dot indicators -->
  <div class="image-indicators">
    <div class="dot active"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>

  <!-- Nội dung -->
  <div class="parking-info">
    <div class="parking-header">
      <div class="title-group">
        <div class="parking-name">{{ parkingLot?.name }}</div>
        <div class="parking-price">
          {{ parkingLot?.pricePerHour | number: '1.0-0' }} đồng/giờ
        </div>
      </div>
      <i class="bi bi-share-fill share-icon"></i>
    </div>

    <div class="parking-description">
      <strong>VỀ CHỖ ĐỖ</strong><br />
      {{ parkingLot?.description}}
    </div>

    <div class="owner-section">
      <img src="/assets/images/avatar-placeholder.png" alt="Avatar" />
      <div>
        <div class="owner-name">{{ parkingLot?.providerName}}</div>
        <div class="owner-rating"><i class="bi bi-star-fill"></i> {{ parkingLot?.rating}}</div>
      </div>
    </div>

    <div class="action-buttons">
      <button class="btn btn-outline-primary" (click)="startNavigation()">Chọn bãi đỗ</button>
      <a href="/reviews?parkingLotId={{parkingLot?.id}}" class="btn btn-outline-primary">Đánh giá</a>
    </div>
  </div>
</div>

<button *ngIf="isNavigating" (click)="stopNavigation()" class="cancel-button">
  Dừng chỉ đường ඞ
</button>
