<div class="map-container" #mapContainer>
  <app-search-box (resultSelected)="onSearchResult($event)"></app-search-box>
</div>

<div class="detail-panel" *ngIf="selectedFeature && !detailSelected">
  <div class="drag-handle"></div>
  <h3>{{ selectedFeature.properties["Name"] }}</h3>
  <p>{{ selectedFeature.properties["Description"] }}</p>
  <div class="info-row">
    <p>Khoảng cách: {{ formatDistance(totalDistance) }}</p>
    <p>{{ formatDuration(totalTime) }}</p>
  </div>
  <p>
    Giá: {{ selectedFeature.properties["PricePerHour"] | number : "1.0-0" }}đ /
    lượt
  </p>
  <div class="button-group">
    <button (click)="startNavigation()">Chỉ đường</button>
    <button (click)="showDetails()">Chi tiết</button>
  </div>
  <button (click)="closeDetailPanel()">Đóng</button>
</div>
<div class="parking-detail-panel-fixed" *ngIf="selectedFeature && detailSelected">
<!--  &lt;!&ndash; Ảnh &ndash;&gt;-->
<!--  <div class="parking-image">-->
<!--    <img src="/assets/images/parkingLot.jpg" alt="Parking image" />-->
<!--  </div>-->

  <!-- Dot indicators -->
  <div class="image-indicators">
    <div class="dot active"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>

  <!-- Nội dung -->
  <div class="parking-info">
    <div class="parking-header">
      <div class="title-group">
        <div class="parking-name">{{ parkingLot?.name }}</div>
        <div class="parking-price">
          {{ parkingLot?.pricePerHour | number: '1.0-0' }} đồng/giờ
        </div>
      </div>
      <i class="bi bi-share-fill share-icon"></i>
    </div>

    <div class="parking-description">
      <strong>VỀ CHỖ ĐỖ</strong><br />
      {{ parkingLot?.description}}
    </div>

    <div class="owner-section">
      <img src="/assets/images/avatar-placeholder.png" alt="Avatar" />
      <div>
        <div class="owner-name">Karen Roe</div>
        <div class="owner-rating"><i class="bi bi-star-fill"></i> 4.8</div>
      </div>
    </div>

    <div class="action-buttons">
      <button class="btn btn-outline-primary" (click)="startNavigation()">Chọn bãi đỗ</button>
      <button class="btn btn-outline-primary">Đánh giá</button>
    </div>
  </div>
</div>

<button *ngIf="isNavigating" (click)="stopNavigation()" class="cancel-button">
  Dừng chỉ đường
</button>
