.map-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 100%;
}

.detail-panel {
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 100%;
  max-height: 40%;
  background: #fff;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  padding: 16px;
  animation: slideUp 0.3s ease-out;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.drag-handle {
  width: 40px;
  height: 5px;
  background-color: #ccc;
  border-radius: 3px;
  margin: 0 auto 10px;
}

button {
  display: block;
  margin: 8px 0;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #306EF3;
  color: white;
  border: none;
  border-radius: 8px;
}

button:last-child {
  background-color: #ccc;
  color: black;
}

.cancel-button {
  position: absolute;
  bottom: 70px;         
  left: 50%;            
  width: 80vw;
  transform: translateX(-50%); 
  z-index: 1000;

  background-color: #306EF3 !important; 
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  color: white !important;
}
