<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-dark" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5 flex-grow-1">

              <h4 class="fw-bold mb-2 text-uppercase text-primary">MẬT KHẨU MỚI</h4>
              <p class="mb-5 text-sm-center">Hãy nhập mật khẩu mới để đăng nhập vào tài khoản của bạn</p>

              <div data-mdb-input-init class="form-outline form-white mb-4">
                <input type="password" id="typeEmailX" class="form-control" placeholder="Mật khẩu mới"
                       [(ngModel)]="password"/>
              </div>

              <div data-mdb-input-init class="form-outline form-white mb-4">
                <input type="password" id="typePasswordX" class="form-control" placeholder="Nhập lại mật khẩu mới"
                       [(ngModel)]="password2"/>
              </div>

              <p style="color: red;">{{ message }}</p>
            </div>
            <div>

              <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg px-5"
                      (click)="changePassword()">
                <small style="font-weight: bold; font-size: 13px;">Đặt lại mật khẩu</small>
              </button>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
