<app-basic-header></app-basic-header>
<div class="container p-3">
    <div class="row heading ">
        <div class="col-sm-1 main-heading">
            <p class="h5 text-branding">ParkFinder xin chào!</p>
        </div>
        <div class="col-sm-1 subheading">
            <p class="h7">Tin tức</p>
        </div>
    </div>
    <div class="row content mt-4">
        <div class="col-sm-1">
            <div class="action-box background-color-gray">
               
            </div>
        </div>
    </div>
    <div class="row content mt-4">
        <div class="col-sm-1">
            <div class="action-box background-color-gray">
          
            </div>
        </div>
    </div>
     <div class="row content mt-4">
        <div class="col-sm-1">
            <div class="action-box background-color-gray">
          
            </div>
        </div>
    </div>
</div>