<div class="container-fluid navbar-container">
  <header class="header my-header fixed-top shadow">
    <nav class="navbar navbar-expand my-header custom-header-navbar">
      <div class="container-fluid justify-content-between align-items-center">
        <!-- Icon Home bên trái -->
        <a class="navbar-brand d-flex align-items-center" routerLink="/homepage" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-house" style="font-size: 2rem; color: #fff;"></i>
        </a>
        <!-- Icon Menu bên phải -->
        <button class="btn p-0 border-0 bg-transparent" type="button">
          <i class="bi bi-list" style="font-size: 2rem; color: #fff;"></i>
        </button>
      </div>
    </nav>
  </header>
</div>
