<div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center">
  <div class="card text-dark p-4" style="max-width: 450px; width: 100%; border: none">
    <div class="card-body text-center">

      <div class="mt-md-4 pb-5 flex-grow-1" style="margin-bottom: 360px">

        <p class="title mb-2 text-uppercase text-primary">NHẬP MÃ XÁC NHẬN</p>
        <p class="mb-0 text-center subtitle">Mã đã được gửi đến email của bạn</p>
        <p class="mb-5 text-center subtitle">Mã xác nhận bao gồm 4 chữ số</p>

        <div class="code-inputs">
          <input *ngFor="let field of codeFields; let i = index"
                 type="text"
                 maxlength="1"
                 pattern="[0-9]*"
                 inputmode="numeric"
                 class="digit-box"
                 [(ngModel)]="code[i]"
                 (input)="onDigitInput(i, $event)"
                 (keydown)="onKeyDown(i, $event)"
                 #boxRefs
                 tabindex="0"/>
        </div>
        <p style="color: red;">{{ message }}</p>
      </div>
      <div>
        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg px-5"
                style="width: 100%"
                [disabled]="!isCodeComplete()"
                (click)="verifyCode()">
          <span style="font-weight: bold; font-size: 13px;">XÁC NHẬN</span>
        </button>
      </div>
    </div>
  </div>
</div>
