<div class="container vh-100 d-flex flex-column justify-content-center">
  <div class="card mx-auto mb-4" style="width: 100%; max-width: 400px;">
    <div class="card-body p-5 text-center">

      <div class="mb-md-5 mt-md-4 pb-5 flex-grow-1">

        <h4 class="fw-bold mb-2 text-uppercase text-primary">QUÊN MẬT KHẨU</h4>
        <span class="mb-0 text-sm-center">Hãy nhập email của bạn,</span>
        <div class="mb-5">
          <span class="mb-5 text-sm-center">hệ thống sẽ gửi mã xác nhận cho bạn để đặt lại mật khẩu nhé!</span>
        </div>

        <div data-mdb-input-init class="form-outline form-white mb-4">
          <input type="email" id="typeEmailX" class="form-control" placeholder="Email"
                 [(ngModel)]="email"/>
        </div>

        <p style="color: red;">{{ message }}</p>

      </div>
      <div>
        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg px-5"
                style="width: 95%"
                (click)="sendCode()">
          <small style="font-weight: bold; font-size: 13px;">GỬI MÃ XÁC NHẬN</small>
        </button>
      </div>
    </div>
  </div>
</div>
