<div class="container-fluid vh-100 d-flex flex-column justify-content-end justify-content-md-center">
  <div class="card mx-auto mb-4" style="width: 100%; max-width: 400px;">
    <div class="card-body text-center">
      <form>
        <div class="mb-4 text-start">
          <h6 style="font-weight: bold">ParkFinder xin chào!</h6>
        </div>
        <!-- Email -->
        <div class="mb-3">
          <input type="email" class="form-control" id="email" placeholder="Địa chỉ email" name="email"
                 [(ngModel)]="email">
        </div>

        <!-- Password -->
        <div class="mb-2 position-relative">
          <input class="form-control pe-5" id="password" name="password"
                 placeholder="Mật khẩu"
                 [(ngModel)]="password"
                 [type]="passwordVisible ? 'text' : 'password'">
          <i class="bi position-absolute top-50 end-0 translate-middle-y me-3"
             [ngClass]="passwordVisible ? 'bi-eye-slash' : 'bi-eye'"
             id="togglePassword" style="cursor: pointer;"
             (click)="togglePassword()"></i>
        </div>

        <!-- Forgot Password -->
        <div class="mb-4 text-start">
          <a href="/auth/forgot-password" class="link-primary small text-decoration-none">
            <small style="font-weight: bold">Quên mật khẩu</small>
          </a>
        </div>

        <div class="mb-3">
          <strong class="text-danger">{{ message }}</strong>
        </div>

        <!-- Login Button -->
        <div class="d-grid mb-3">
          <button type="submit" class="btn btn-primary"
                  (click)="login()">
            <small style="font-weight: bold">ĐĂNG NHẬP</small>
          </button>
        </div>

        <!-- Register Anchor -->
        <div class="text-center mb-3">
          <small>Bạn chưa có tài khoản?
            <a href="/auth/register" class="link-primary text-decoration-none">
              <span style="font-weight: bold">Đăng ký</span>
            </a>
          </small>
        </div>

        <!-- Break Line -->
        <div class="text-center mb-1">
          <hr class="my-2">
          <span class="small text-muted">Hoặc tiếp tục với</span>
        </div>

        <!-- Google Login Button -->
        <div class="d-flex justify-content-center">
          <button type="button"
                  class="btn btn-danger rounded-circle d-flex justify-content-center align-items-center"
                  style="width: 40px; height: 40px;"
                  (click)="loginWithGoogle()">
            <i class="bi bi-google" style="font-size: 1rem;"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
