/* Use full viewport height on larger screens */
@media (min-width: 768px) {
  .vh-md-100 {
    height: 100vh;
  }
}

:host {
  font-family: 'Inter', sans-serif;
  display: block;
  height: 100vh;
  background-image: url('https://cdn.prod.website-files.com/633c757cabeb225e929350d0/633c757cabeb2246b8935495_Westfield%20Car%20Park%20Compliant%20Speed%20Hump.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
